include COPYING NEWS try-parti
include do-*
include run-*
include wimpiggy/lowlevel/constants.pxi
recursive-include working-notes *
global-include *.py *.txt
global-exclude *~ #*
prune build
prune dist
