include COPYING NEWS README* 
include do-* run-* try-parti
include wimpiggy/lowlevel/constants.pxi
recursive-include working-notes *
global-include *.py *.txt
global-exclude *~ #*
prune build
prune dist
prune install